/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
   width: 12px; /* ширина для вертикального скролла */
   height: 8px; /* высота для горизонтального скролла */
   border-radius: 9em;
   background-color: #fc7587;
}

::-webkit-scrollbar-thumb {
   background-color: #FCC9C;
   border-radius: 9em;
   box-shadow: inset 1px 1px 10px #f3faf7;
}
      
::-webkit-scrollbar-thumb:hover {
   background-color: #f73e3e;
}


html {
   scroll-behavior: smooth;
   scrollbar-width: 12px;
   scrollbar-color: #fc7587 #fcc9c9;
   scrollbar-border-radius: 9em;
}


* {
   box-sizing: border-box;
}
body {
   font-family: 'Mulish', sans-serif;
   font-size: 16px;
   font-weight: 400;
}

a {
   text-decoration: none;
}

.header {
   display: flex;
   align-items: center;
   padding: 20px 70px 20px 32px;
   /* margin-bottom: 30px; */
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #fff;
   z-index: 1000;

}

.menu-btn {
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #fff;
   width: 20px;
   height: 17px;
   border: none;
   margin-right: 28px;
   cursor: pointer;
}

.menu-line {
   display: block;
   background: #1F2022;
   width: 20px;
   height: 3px;
   border-radius: 20px;
}

.input-group{
   background-color: #EBEBEB;
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1200px;
   width: 70%;
   padding: 10px 23px;
   margin-left: 50px;
   color: #30384C;
   
}

.input-search {
   width: 100%;
   border: none;
   outline: none;
   background-color: transparent;
   padding: 12px 23px;

}

.button-search {
   padding: 0;
   width: 19px;
   height: 19px;
   border: none;
   background-color: transparent;
   cursor: pointer;
}

.icon-search {
   fill: #000;
}

.icons {
   display: flex;
   align-items: center;
   margin-left: auto;
}


.icons-link {
   opacity: .24;
   fill: #000;

}

.icons-link:hover {
   opacity: .8;
   fill: rgb(248, 14, 14);
}
.icons-link:not(:last-child){
   margin-right: 50px;
}
.user {
   margin-left: 45px;
}
.user-avatar {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}


/* левое меню */

.sidebar {
   position: fixed;
   width: 12%;
   left: 0;
   top: 130px;
   height: calc(100% - 130px);
   overflow-y: auto;
   padding-left: 32px;
   background-color: #fff;
}

/* main */
.content {
   width: 100%;
   height: 400px;
   margin-top: 108px;
   padding-left: 13%;
   padding-top: 20px;
}


.chanell {
   position: relative;
   margin-bottom: 49px;
}

.chanell-title {
   display: flex;
   align-items: center;
   font-weight: bold;
   font-size: 26px;
   line-height: 33px;
   color: #19202C;
   margin-bottom: 30px;
}
.chanell-avatar {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.chanell-text {
   margin-left: 20px;
}


/* слайдер */

.video-card {
   width: 250px;
}
.video-card-3 {
   width: 540px;
}

/* .swiper-slide {
   transition: all .8;
} */

.swiper-slide:hover {
   -moz-transform: rotate(2deg);
   -ms-transform: rotate(2deg); 
   -webkit-transform: rotate(2deg);
   -o-transform: rotate(2deg);
   transform: rotate(2deg);
}

.video-thumb {
   width: 250px;
   height: 150px;
   overflow: hidden;
   border-radius: 14px;
   position: relative;
   }
   .video-thumb-3 {
   width: 540px;
   height: 250px;
   overflow: hidden;
   border-radius: 14px;
   position: relative;
   }

.video-duration {
   position: absolute;
   bottom: 10px;
   right: 10px;
   color: #FFFFFF;
   background: rgba(0,0,0,.3);
   border-radius: 12px;
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   padding: 3px 10px;
}

.video-title {
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   color: #19202C;
   margin-top: 10px;
   margin-bottom: 4px;
}

.video-info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 13px;
   line-height: 16px;
   color: #C2C2C2;
}

.thumbnail{
   width: 250px;
   height: 150px;
   object-fit: cover;
}

.thumbnail-3 {
   width: 540px;
   height: 250px;
   object-fit: cover;
}


.video-counter {
   display: flex;
}

.video-views {
   margin-right: 5px;
}

.video-views::after {
   content: '';
   width: 2px;
   height: 2px;
   display: inline-block;
   vertical-align: middle;
   background-color: #C2C2C2;
   margin-left: 5px;
}

.slider-buttons {
   position: absolute;
   right: 12%;
   top: 3px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 66px;
}
.chanell-button{
   cursor: pointer;
   padding: 10px;
}


.recommendet-text {
   font-size: 16px;
   line-height: 20px;
   color: #C2C2C2;
   vertical-align: middle;
   margin-left: 20px;
}

.recommendet-btn {
   width: 154px;
   height: 40px;
   background-color: rgb(255, 0, 0);
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   color: #FFFFFF;
   border-radius: 20px;
   cursor: pointer;
   margin-left: 750px;
}

/* навтгация  */

.nav-menu {
   margin-top: 0;
   margin-bottom: 60px;
   padding-left: 0;
   list-style-type: none;
}
.nav-item {
   margin-bottom: 28px;
  }
.nav-item .icon {
   fill: #898989;
}
.nav-text {
   margin-left: 15px;
}
.nav-link {
   display: flex;
   align-items: center;
   color: #898989;
}

.nav-link:hover {
   color: red;
}

.nav-link:hover .icon {
   fill: red;
}
.nav-image {
   width: 26px;
   height: 26px;
   border-radius: 50%;
}