* {
   box-sizing: border-box;
}
body {
   font-family: 'Mulish', sans-serif;
   font-size: 16px;
   font-weight: 400;
}

a {
   text-decoration: none;
}

.header {
   display: flex;
   align-items: center;
   padding: 20px 70px 20px 32px;
   margin-bottom: 30px;

}

.menu-btn {
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #fff;
   width: 20px;
   height: 17px;
   border: none;
   margin-right: 28px;
   cursor: pointer;
}

.menu-line {
   display: block;
   background: #1F2022;
   width: 20px;
   height: 3px;
   border-radius: 20px;
}

.input-group{
   background-color: #EBEBEB;
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 830px;
   width: 50%;
   padding: 12px 23px;
   margin-left: 50px;
   color: #30384C;
   
}

.input-search {
   width: 100%;
   border: none;
   outline: none;
   background-color: transparent;
   padding: 12px 23px;

}

.button-search {
   padding: 0;
   width: 19px;
   height: 19px;
   border: none;
   background-color: transparent;
   cursor: pointer;
}

.icon-search {
   fill: #000;
}

.icons {
   display: flex;
   align-items: center;
   margin-left: auto;
}


.icons-link {
   opacity: .24;
   fill: #000;

}

.icons-link:hover {
   opacity: .8;
   fill: rgb(248, 14, 14);
}
.icons-link:not(:last-child){
   margin-right: 50px;
}
.user {
   margin-left: 45px;
}
.user-avatar {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}





/* левое меню */

.sidebar {
   padding-left: 32px;
}

.nav-menu {
   margin-top: 0;
   margin-bottom: 60px;
   padding-left: 0;
   list-style-type: none;
}
.nav-item {
   margin-bottom: 28px;
  }
.nav-item .icon {
   fill: #898989;
}
.nav-text {
   margin-left: 15px;
}
.nav-link {
   display: flex;
   align-items: center;
   color: #898989;
}

.nav-link:hover {
   color: red;
}

.nav-link:hover .icon {
   fill: red;
}
.nav-image {
   width: 26px;
   height: 26px;
   border-radius: 50%;
}